 body {
    margin: 0px;
    /* github was having trouble loading the image from my folder, so the same image
    is linked both ways just in case. Shahein had me use the github link, although
    the loading problem might have been something with the github cache not clearing. I added
    the filepath to my folder since that was in the instructions */
    background-image: url(https://mrange3.github.io/assets/images/regal.png);
    background-image: url(../images/regal.png);
    background-repeat: repeat;
}



.banner {
    height: 75px;
    width: 960px;
    margin: auto;
}

.nav {
    background-color: #ffffff;
    height: 75px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

header {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    font-size: 25px;
    padding-top:25px;
    padding-left:15px;
    padding-right: 15px;
    height: 50px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: left;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    margin-top: 0%;
}

.space {
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 900px;
    text-align: left;
    overflow: hidden;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd;
}

ul {
    margin: 0%;
    float:right;
    padding-top: 16px;
    padding-right: 0px;
}

li {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

a {
    float: left;
    padding-right: 30px;
}

p1 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
}

.border:link {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #cccccc;
    padding: 10px;
}
.border:visited {  
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #cccccc;
    padding: 10px;
}
.noborder {
    padding: 10px;
    padding-right: 0px;
    border-right-color: white;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 874px; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;

}
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    font-size: 15px;
}

/* It took me a long time to figure out how to center my images, until I
saw in the example that they were aligned left. I want to keep them centered, 
but if I wanted to match the example, I could adjust the padding on the second
 block using an ID so that it pushes the third block down to the next shelf */


.gallery {
    margin-left:auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}
.gallery img{
  display: inline-block;
  padding: 50px;
  float: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #666666;
    color: #777777;
    text-align: center;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
}

footer p {
    padding: auto;
    margin-top: 6px
}
@media screen and (max-width: 980px) {
    .banner {
        width: 860px;
    }
    .space {
        width: 580px;
        float: left;
        margin-left: 40px;
    }
    #name {
        width: 555px;
    }
    #email {
        width: 555px;
    }
    #subject {
        width: 555px;
    }
    .gallery {
        width: 500px;
    }
    .gallery img{
        padding-left: 25px;
        padding-right: 25px;
    }
    }

    @media screen and (max-width: 768px) {
        .banner {
            width: 648px;
        }
        .space {
            width: 580px;
            float: none;
            margin-left:auto;
            margin-right: auto;
        }
        #name {
            width: 555px;
        }
        #email {
            width: 555px;
        }
        #subject {
            width: 555px;
        } */
        .gallery {
            width: 500px;
        }
        .gallery img{
            padding-left: 25px;
            padding-right: 25px;
        }
        }
        @media screen and (max-width: 640px) {
            .banner {
                width: 640px;
                height: auto;
            }
            header {
                width: 100%;
                text-align: center;
            }
            ul {
                width: 100%;
                background-color: #ffffff;
                padding-left: 207px;
                float:left;
                border-bottom-style: solid;
                border-bottom-color: #cccccc;
                padding-top:5px;
                padding-bottom: 5px;
            }

            .space {
                width: 500px;
                float: none;
                margin-top: 80px;
                margin-left:auto;
                margin-right: auto;
            }
            #name {
                width: 475px;
            }
            #email {
                width: 475px;
            }
            #subject {
                width: 475px;
            } */
            .gallery {
                width: 420px;
            }
            .gallery img{
                padding-left: 125px;
                padding-right: 125px;
            }
            }